* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;

  --gray-100: #0d0e11;
  --gray-200: #16181d;
  --gray-300: #292c34;
  --gray-400: #878ea1;
  --gray-500: #c0c4ce;
  --gray-600: #e2e4e9;

  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: var(--gray-100);
  background-color: white;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

.bg {
  background: 
    linear-gradient(
      to right,
      #29292E 5%,
      transparent 5%,
      transparent 95%,
      #29292E 95%
    ),
    url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: var(--spacing-xl) 0;
}
