.perfil {
    width: 112px;
    height: 112px;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-sm);
  max-width: 65rem;
  margin: 0 auto;
}

.apresentacao {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  color: var(--gray-500);
}

.header-content .apresentacao span {
  color: var(--red);
}

h1 {
  font-family: 'Asap', sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: var(--gray-600);
  margin-top: -2rem;
  margin-bottom:0px;
}

.descricao {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  color: var(--gray-400);
  margin-top: 0.3rem;
  margin-left: 175px;
  margin-right: 175px;
  margin-bottom: -1rem;
}

#seta{
  width: 25px;
  height: 25px;
  margin-left: 600px;
  margin-right: 600px;
  margin-bottom: -5rem;

}

.header-content .apresentacao{
  margin-top: 10px;
  margin-bottom: 8px;
}
