.projects {
  background-color: var(--gray-200);
  padding: var(--spacing-xl) 0;
    background: 
    linear-gradient(
      to right,
      var(--gray-300) 5%,
      transparent 5%,
      transparent 95%,
      var(--gray-300) 95%
    ),
    var(--gray-200);
}

.propriedade {
    text-align: center;
    color: var(--red);
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    margin-top: 8rem;
}

.projects h2 {
  font-family: 'Asap', sans-serif;
  color: var(--gray-600);
  font-size: 2rem;
  text-align: center;

  margin-bottom: var(--spacing-xl);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 330px);
  gap: 24px;
  padding: 0 var(--spacing-md);
  justify-content: center;
}

.project-card {
  background: var(--gray-300);
  border-radius: 12px;
  transition: transform 0.3s ease;
  width: 330px;
  height: 280px;
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  position: relative;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 306px;
  height: 156px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  margin: 12px;
  display: block;
}

.project-card h3 {
  color: var(--gray-600);
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  margin-bottom: 0.4rem;
  padding: 0 12px;
}

.project-card p {
  color: var(--gray-500);
  font-family: 'Maven Pro', sans-serif;
  line-height: 1.5;
  font-size: 14px;
  text-align: justify;
  padding: 0 12px;
}