.technologies {
  padding: var(--spacing-xl) 0;
}

.technologies h2 {
  font-size: 1.75rem;
  color: var(--gray-200);
  margin-bottom: var(--spacing-lg);
  text-align: center;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

.tech-item {
  display: flex;
  align-items: center;
  background: var(--gray-300);
  border-radius: 8px;
  padding: 0;
  min-height: 56px;
  transition: all 0.3s ease;
  overflow: hidden;
  border-radius: 999px;
}

.tech-item:hover {
  transform: translateY(-5px);
}

.tech-item img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-left: 16px;
  margin-right: 8px;
}

.tech-item span {
  color: var(--gray-600);
  font-weight: 500;
  padding-right: 16px;
  flex-grow: 1;
}